
body {
  font-family: arboria, sans-serif;
  font-style: normal;
  font-weight: 200;
}

body, html {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  color: ghostwhite;
}

nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1em;
  color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

section {
  display: block;
}

.bg-img {
  background-image: url("images/food_banana_leaf.jpg");
  height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#grad {
  height: 50px;
  background-image: linear-gradient(to right, darkred, orangered, darkgoldenrod);
}

.footer {
  background-color: darkolivegreen;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-container {
  background-color: darkolivegreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  flex-grow: 1;
  background-color: darkolivegreen;
  color: whitesmoke;
  margin: 2%;
  padding: 30px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.home-text {
   display: block;
   padding: 3%;
   margin: 2%;
   border-style: solid;
   border-width: 5px;
   border-color: darkolivegreen;}
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

@media (min-width: 64em) {
.content-wrapper {
 flex-direction: row;
}
aside { flex: 1; }
section { flex: 2; }
}
